.container-creditos {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  text-align: center;
  transition: top 1s ease;
}

#creditos {
  min-height: 100vh;
  max-width: 200px;
  text-align: left;
  background-color: blueviolet;
  color: white;
  border: 1px solid gray;
  padding: 1rem;
  border-top-left-radius: 1rem;
  position: fixed;
  right: 0;
  font-size: .7rem;
}

#creditos a {
  color: whitesmoke;
}

#creditos h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#container-creditos-button {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#container-creditos-button button {
  border-top-left-radius: .7rem;
  border: none;
  position: fixed;
  color: white;
  background-color: blueviolet;
  padding: 0.3rem .8rem 0.3rem;
  font-weight: 600;
  z-index: 1;
  right: 0;
  cursor: pointer;
  font-family: Poppins;
  transition: top 1s ease;
  font-size: 0.7rem;
}

#container-creditos-button button:focus {
  border: none;
  outline: none;
}