header#apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #48b300;
    min-height: 100vh;
    padding-top: 5rem;
    width: 100vw;
    color: #ffffff;
    padding-bottom: 2rem;
}

#container-header {
    text-align: center;
}

header#apresentacao h1 {
    margin: 1rem 0 2rem;
    font-size: 3rem;
}

.habilidade {
    padding: 1rem;
    background: gray;
    border-radius: 50rem;
    color: white;
    width: 10rem;
    margin: 0.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px #00000081;
    display: inline-block;
}

#habilidade-html {
    background-color: #F4B459;
}

#habilidade-css {
    background-color: #347DC6;
}

#habilidade-javascript {
    background-color: #F0DB4F;
}

#habilidade-node {
    background-color: #81CF08;
}

.header-img {
    height: 1.7rem;
    margin-right: 0.5rem;
}