#instituicoes h2 {
    text-align: center;
    margin: 1rem 0;
    opacity: 0.8;
}

.instituicao {
    margin-top: 3rem;
    background: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.068);
}

.instituicao header {
    display: flex;
    align-items: center;
}

.instituicao header img {
    margin-right: 0.5rem;
    zoom: 1.5;
}

.instituicao p {
    text-align: center;
    margin: 0.5rem 0;
}

.meio-opaco {
    opacity: 0.5;
}

.target {
    background: gray;
    border-radius: 50rem;
    line-height: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

#target-concluido {
    background: green;
}

#target-em-andamento {
    background: linear-gradient(to right, orange, orange 60%, gray 1px, gray 100%);
}