#sobre {
    text-align: justify;
    background-color: #48b300;
    color: white;
}

#sobre h2 {
    text-align: center;
    margin: 1rem 0;
}

#sobre p {
    text-indent: 2rem;
    margin-bottom: 1rem;
}

.verdeamarelado {
    color: #F0DB4F;
    font-weight: bolder;
}

@media (min-width: 800px) {
    #container-sobre {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .esq {
        width: calc(50% - 1rem);
        display: inline-block;
    }

    .dir {
        width: calc(50% - 1rem);
        float: right;
    }
}