:root {
    font-size: 80%;
}

html,body {
    background: #f0f0f0;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: visible;
    zoom: 1;
}

body, html, button, a {
    font-family: Montserrat;
    color: rgb(17, 17, 17);
    text-decoration: none;
}

article {
    padding: 5rem 1.5rem;
}

#contact {
    background: #48b300;
    margin-top: -1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact img {
    height: 5rem;
}

#contact #github-img {
    height: 4rem;
}

#agradecimento {
    text-align: center;
    color: white;
    background: #48b300;
    margin: -1px 0;
    padding: 1rem 0rem 2rem;
}

#agradecimento img {
    height: 2rem;
    vertical-align: -0.4rem;
}