:root {
    font-size: 80%;
}

html,body {
    background: #f0f0f0;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: visible;
    zoom: 1;
}

body, html, button, a {
    font-family: Montserrat;
    color: rgb(17, 17, 17);
    text-decoration: none;
}

article {
    padding: 5rem 1.5rem;
}

img {max-width: 50vw}