html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  font-family: Poppins;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container-main {
  min-height: 100vh;
}

main {
  background-color: whitesmoke;
  min-height: 100vh;
}

aside .content {
  padding: 2rem;
}

header {
  text-align: center;
}

#my-name {
  font-weight: 400;
  font-size: 2rem;
}

.slim {
  font-weight: 200;
}

#email {
  font-size: 0.9rem;
  font-weight: 200;
}

#email a, #github a, #linkedin a, #celular a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#profile-img {
  width: 60%;
  max-width: 250px;
  border-radius: 100%;
}

hr {
  margin-top: 1rem;
}

#personal-info {
  margin-top: 1rem;
}

#personal-info ul {
  list-style: none;
}

#personal-info h2 {
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.icon, .tec-icon {
  height: 1.5rem;
  margin-right: 0.3rem;
}

#personal-info p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

#personal-info #formacao-list, #personal-info #tecnologias {
  list-style: circle;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#formacao-list p, #tecnologias p {
  margin-bottom: 0;
  text-align: left;
}

#personal-info #objetivos-text, #personal-info #personal-statement-text {
  text-align: justify;
}

#experience-list h3 {
  font-size: 0.9rem;
  opacity: 0.8;
  font-weight: 600;
  color: #00d5d5;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
}

#experience-list h3 img {
  height: 0.8rem;
  margin-right: 0.5rem;
  transition: transform ease 0.5s;
}

#experience-list p {
  text-align: justify;
  margin-left: 1.3rem;
  margin-bottom: 1.5rem;
}

#experience-list p a {
  color: cornflowerblue;
  font-weight: 600;
}

#experience-list p a:visited {
  color: #557eca;
}

.link-icon {
  height: 0.6rem;
}

@media (min-width: 460px) {
  #formacao-list li, #tecnologias li {
    display: inline-block;
    margin: 0.5rem;
    background-color: #c7c7c7;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
  }

  #formacao-list p, #tecnologias p {
    font-weight: 400;
  }
}

@media (min-width: 700px) {
  #container-main {
    width: 100%;
    background-color: #e4e4e4;
  }

  main {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  aside {
    align-items: center;
    max-width: 300px;
    border-right: 1px solid #969696;
    grid-column: 1;
    display: flex;
    align-items: center;
    position: fixed;
    min-height: 100vh;
  }

  #container-right-area {
    display: inline-block;
    max-width: 695px;
    padding: 2rem;
    grid-column: 2;
  }

  #right-area h2 {
    justify-content: center;
    font-weight: 400;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }

  #right-area .icon {
    height: 1.8rem;
  }

  #right-area ul {
    list-style: none;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }

  #right-area .desktop-keep-right > p {
    margin-bottom: 1.5rem;
    font-weight: 300;
  }

  #right-area #formacao-list, #right-area #tecnologias {
    list-style: circle;
    margin-left: 1rem;
  }
};